@import "tailwindcss";

@font-face{
  font-family: "Manrope";
  src: url("../src/assets/Manrope.ttf") format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: "SpaceGrotesk";
  src: url("../src/assets/SpaceGrotesk.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "SpaceGrotesk";
}

html,
body,
#root {
  min-height: 100%;
  font-family:"Manrope"
}

body {
  margin: 0;
  min-width: 320px;
  background: #f8fbff;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}

::selection {
  background: rgba(59, 130, 246, 0.18);
}
